@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2350 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2350 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2350 0 0);
  --primary: oklch(0.6028 0.2177 257.4239);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9626 0.0066 286.2742);
  --secondary-foreground: oklch(0.2273 0.0038 286.0916);
  --muted: oklch(0.9626 0.0066 286.2742);
  --muted-foreground: oklch(0.5007 0.0047 286.2288);
  --accent: oklch(0.9233 0.0067 286.2674);
  --accent-foreground: oklch(0.2273 0.0038 286.0916);
  --destructive: oklch(0.6542 0.2321 28.6592);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9233 0.0067 286.2674);
  --input: oklch(0.9233 0.0067 286.2674);
  --ring: oklch(0.6028 0.2177 257.4239);
  --chart-1: oklch(0.6542 0.2321 28.6592);
  --chart-2: oklch(0.7652 0.1752 62.5738);
  --chart-3: oklch(0.8652 0.1768 90.3816);
  --chart-4: oklch(0.7303 0.1944 147.4439);
  --chart-5: oklch(0.6028 0.2177 257.4239);
  --sidebar: oklch(0.9709 0.0114 128.5914);
  --sidebar-foreground: oklch(0.3492 0.0034 286.2208);
  --sidebar-primary: oklch(0.6028 0.2177 257.4239);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9294 0.0160 130.4255);
  --sidebar-accent-foreground: oklch(0.2273 0.0038 286.0916);
  --sidebar-border: oklch(0.8622 0.0068 286.2555);
  --sidebar-ring: oklch(0.6028 0.2177 257.4239);
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: ui-monospace, 'SFMono-Regular', Menlo, Monaco, Consolas, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2273 0.0038 286.0916);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2939 0.0036 286.1773);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2939 0.0036 286.1773);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6243 0.2056 255.4861);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3492 0.0034 286.2208);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3492 0.0034 286.2208);
  --muted-foreground: oklch(0.6483 0.0073 286.1930);
  --accent: oklch(0.4024 0.0033 286.2501);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6633 0.2236 28.2919);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3414 0.0034 286.2157);
  --input: oklch(0.3414 0.0034 286.2157);
  --ring: oklch(0.6243 0.2056 255.4861);
  --chart-1: oklch(0.6633 0.2236 28.2919);
  --chart-2: oklch(0.7824 0.1711 67.2231);
  --chart-3: oklch(0.8849 0.1805 94.7843);
  --chart-4: oklch(0.7556 0.2082 146.9836);
  --chart-5: oklch(0.6243 0.2056 255.4861);
  --sidebar: oklch(0.2257 0.0105 132.7163);
  --sidebar-foreground: oklch(0.7520 0.0057 286.2629);
  --sidebar-primary: oklch(0.6243 0.2056 255.4861);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2747 0.0123 135.0537);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3414 0.0034 286.2157);
  --sidebar-ring: oklch(0.6243 0.2056 255.4861);
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: ui-monospace, 'SFMono-Regular', Menlo, Monaco, Consolas, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 8px 20px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 8px 20px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 8px 20px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 8px 20px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
